@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Quicksand:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: rgb(92, 92, 92);
}

li {
  list-style: none;
}

a {
  color: #2450fa;
  font-family: "Quicksand", sans-serif;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}
.container .col-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.container .top {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 15px 25px;
  border-radius: 20px;
  outline: none;
  border: 0;
  background-color: #2450fa;
  color: #ffffff;
  filter: drop-shadow(4px 4px 8px rgba(40, 110, 153, 0.5294117647));
  transition: all 0.3s;
}
button:hover {
  background-color: rgba(40, 110, 153, 0.0705882353);
  color: #2450fa;
}

.heading {
  color: #000000;
  font-family: "Quicksand", sans-serif;
}

.hr {
  margin-top: 70px;
}
.hr .container {
  padding-top: 20px;
}
.hr .container hr {
  color: whitesmoke;
}

.hero {
  padding: 80px 0;
}
.hero .container .col-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.hero .container .col-2 .col-left {
  width: 65%;
}
.hero .container .col-2 .col-left hr {
  background-color: #2450fa;
  width: 100px;
  height: 5px;
  border: none;
  margin: 5px 0 20px 0;
}

.topics {
  margin-bottom: 80px;
}
.topics .container {
  background-color: #2450fa;
  padding: 50px;
  color: #ffffff;
  border-radius: 20px;
}
.topics .container .col-2 .right-col {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.topics .container .col-2 .right-col .topic {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ffffff;
  color: #2450fa;
  padding: 5px 10px;
  border-radius: 20px;
}

.thoughts {
  margin-bottom: 80px;
}
.thoughts .container .blogs {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  justify-content: space-between;
  row-gap: 20px;
}
.thoughts .container .blogs .blog {
  background-color: rgba(40, 110, 153, 0.0705882353);
  padding: 20px;
  border-radius: 20px;
}
.thoughts .container .blogs .blog .article .title {
  margin-bottom: 10px;
  font-weight: 700px;
  color: #000000;
  font-size: 20px;
}

.media {
  padding-bottom: 80px;
}
.media .container .videos {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  justify-content: space-between;
  row-gap: 20px;
}

footer {
  background-color: #2450fa;
  padding: 50px 0;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .container .social-media {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
footer .container .social-media a img {
  height: 44px;
  background-color: #3158f8;
  border-radius: 44px;
}
footer .container button {
  border: 1px solid #ffffff;
}
footer .container button:hover {
  background-color: #4285af;
  color: #ffffff;
}
footer .container .white {
  background-color: white;
  color: #2450fa;
}/*# sourceMappingURL=styles.css.map */